# Ignore build output directory
build/
export/

# Ignore object files and dependent files
.o
.d

#Ignore logs folder and log files
/logs
.log
.rigel_lopper/

# Vitis Metadata and Logs
.metadata/
.Xil/
_ide/
*.log
.Depreciated

#Ignore lock files
.lock

.bin
.pdi
.vitisWorkspace.json

# Vivado junk
*.backup.jou
*.backup.log
camera_screen.cache/
camera_screen.hw/
camera_screen.runs/
camera_screen.sim/

# Keep only the final XSA, ignore the old versions
cam_screen_1.xsa
cam_screen_2.xsa
cam_screen_3.xsa
cam_screen_4.xsa
cam_screen_5.xsa
cam_screen_6.xsa
cam_screen_7.xsa


_ide/logs
_ide/.wsdata