# Ignore build output directory
build/
export/

# Ignore object files and dependent files
.o
.d

#Ignore logs folder and log files
/logs
.log
.rigel_lopper/
.clangd/
.cache/

# Vitis Metadata and Logs
.metadata/
.Xil/
_ide/
*.log
.Depreciated

#Ignore lock files
.lock

.bin
.pdi
.vitisWorkspace.json

# Vivado junk
*.backup.jou
*.backup.log
refocus_cam_v2.cache/
refocus_cam_v2.hw/
refocus_cam_v2.runs/
refocus_cam_v2.sim/

# IDE and VS Code junk
_ide/logs
_ide/.wsdata
.vscode/
*.vscode
*.code-workspace